.container {
    margin: auto; // for align center
    background: white url("../images/bg.jpg") no-repeat top;
    width: 70%;
    border: grey solid 0.5px;
    border-radius:10px;

    &__current {
        height: 200px;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        &__left {
            width:40%;
            padding-top: 30px;
    
            &__down {
                padding-top: 20px;
                display:flex;
                flex-direction: row;
                justify-content: space-around;

                &__line {
                    margin: 0;
                    border-left: white solid 2px;
                }
            }
        }

        &__right {
            width:50%;
            text-align: center;
            padding-top: 50px;
            font-size: 2rem;
        }
    }

    &__others {
        height:250px;
        background: white;
        border-radius: 0 0 10px 10px;

        display:flex;
        flex-direction: row;

        &__left {
            width: 33%;

            &__city {
                width: 80%;
                height: 100%;
                margin: auto;

                &__image {
                    width: 24px;
                }
            }
        }

        &__line {
            width: 1%;
            height: 90%;
            border-left: skyblue solid 2px;
            margin: auto;
        }

        &__right {
            width: 66%;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap:wrap;
        }
    }
}

.temprature {
    margin: 0;
    text-align: center;

    &__line1 {
        font-size: 2.5rem;
    }

    &__line2 {
        font-size: 1.2rem;
    }
}

.detail {
    margin: 0;
    text-align: center;

    font-size: 1rem;
}

.weekly {
    padding-top: 20px;
    text-align: center;

    &__image {
        width: 32px;
    }
}